.header {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-family: "Times New Roman";
  margin-bottom: 1em;
  margin-top: 1em;
}

@media all and (min-width: 650px) {
  .header {
    width: 600px;
  }
}
@media all and (min-width: 1000px) {
  .header {
    width: 960px;
  }
}